<div class="grid dashboard">

	<div class="col-3 lg:col-3">
		<p-fileUpload mode="basic" chooseLabel="Choose" accept=".xml, .csv" maxFileSize="1000000"
			(onSelect)="onUpload($event)"></p-fileUpload>
	</div>
	<div class="col-12 lg:col-12">
		<div class="card donut ">
			<h5 style="margin-top:0">Available flights</h5>
			<div class="container">
				<p-table [value]="flights" [paginator]="true" [rows]="5" dataKey="uid">
					<ng-template pTemplate="header">
						<tr>
							<th></th>
							<th pSortableColumn="carrier">Carrier
								<p-sortIcon field="carrier"></p-sortIcon>
							</th>
							<th pSortableColumn="flightNumber">Flight number
								<p-sortIcon field="flightNumber"></p-sortIcon>
							</th>
							<th pSortableColumn="origin">Origin
								<p-sortIcon field="origin"></p-sortIcon>
							</th>
							<th pSortableColumn="destination">Destination
								<p-sortIcon field="destination"></p-sortIcon>
							</th>
							<th pSortableColumn="departureTime">Departure time
								<p-sortIcon field="departureTime"></p-sortIcon>
							</th>
							<th pSortableColumn="arrivalTime">Arrival time
								<p-sortIcon field="arrivalTime"></p-sortIcon>
							</th>
							<th>Seats available</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-flight let-expanded="expanded">
						<tr>
							<td>
								<button type="button" pButton pRipple [pRowToggler]="flight"
									class="p-button-text p-button-rounded p-button-plain"
									[icon]="expanded ? 'pi pi-chevron-down' : 'pi pi-chevron-right'"></button>
							</td>
							<td>{{flight.carrier}}</td>
							<td>{{flight.flightNumber}}</td>
							<td>{{flight.origin.airportCode}}</td>
							<td>{{flight.destination.airportCode}}</td>
							<td>{{flight.departureTime}}</td>
							<td>{{flight.arrivalTime}}</td>
							<td>{{flight.bookingInfos.length}}</td>
						</tr>
					</ng-template>
					<ng-template pTemplate="rowexpansion" let-flight>
						<tr>
							<td colspan="7">
								<div class="p-3">
									<p-table [value]="flight.bookingInfos" dataKey="uid">
										<ng-template pTemplate="header">
						<tr>
							<th pSortableColumn="cabinClass">Cabin Class <p-sortIcon field="price"></p-sortIcon></th>
							<th pSortableColumn="bookingCounts">Number Of Seats <p-sortIcon
									field="customer"></p-sortIcon></th>
							<th style="width: 4rem">Action</th>
						</tr>
					</ng-template>
					<ng-template pTemplate="body" let-bookingInfo>
						<tr>
							<td>{{bookingInfo.cabinClass}}</td>
							<td>{{bookingInfo.bookingCounts}}</td>
							<td><p-button type="button" icon="pi pi-check" label="Book"></p-button></td>
						</tr>
					</ng-template>
					<ng-template pTemplate="emptymessage">
						<tr>
							<td colspan="3">There are no bookings available.</td>
						</tr>
					</ng-template>
				</p-table>
			</div>
			</td>
			</tr>
			</ng-template>
			</p-table>
		</div>
	</div>
</div>
</div>