<div class="layout-footer">
    <div class="grid">
        <div class="col-12 md:col-6  lg:col-3">
            <span class="logo">Maureair</span>
            <p>Maureva Technical Test</p>
        </div>
    </div>
</div>
