<div class="login-body">
    <div class="mobile-banner">
        <img src="assets/layout/images/logo-mobile.svg" alt="prestige-layout"/>
    </div>
    <div class="login-panel">
        <div class="logo">
            <img src="assets/layout/images/logo.svg" alt="prestige-layout"/>
        </div>
    </div>

    <div class="login-card">
        <div class="top-border"></div>
        <div class="login-content">
            <form #loginForm="ngForm" (ngSubmit)="doLogin()">
            <h1>Maurevair</h1>
            <p>Welcome, please use the form to login.</p>
            <div class="username-container">
                <label>Username</label>
                <div class="login-input">
                    <input type="text" autocomplete="off" [ngModelOptions]="{standalone: true}" placeholder="Enter your username" pInputText [(ngModel)]="loginDetails.username">
                </div>
            </div>
            <div class="password-container">
                <label>Password</label>
                <div class="login-input">
                    <input type="password" autocomplete="off" [ngModelOptions]="{standalone: true}" placeholder="Enter your password" pInputText [(ngModel)]="loginDetails.password" >
                </div>
            </div>
            <div>
                <button pButton type="submit" label="Sign In" style="width: 100%"></button>
            </div>
        </form>
        </div>
    </div>
</div>
